# Ignore these
node_modules/*
!node_modules/expo
node_modules/expo/*
!node_modules/expo/AppEntry.js
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
secrets.js

# But not these


# macOS
.DS_Store
